.menu-modal
  background-color: rgba(24, 0, 38, 95)

  .menu-modal-nav-item
    clear: both
    float: right
    margin-right: 10vw

    color: #F5F5F5
    font-weight: 800
    font-size: 6vh
    line-height: 2

    .active
      color: #FF0000
      font-size: 10vh

    .bigger
      font-size: 8vh

  @media(max-width: 425px)
    .menu-modal-nav-item
      float: none