@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,800,400')

body
  background: #1C1C1C

.screen1
  height: 100vh

.img-logo-ww
  margin-top: 25px
  height: 40vh
  background:
    image: url("Sk/Logo/SVG/logo_full_bg-black.svg")
    position: center
    size: cover

.main-nav
  width: 100vh
  background: #4c4c4c
  transform-origin: left top
  transform: rotate(-90deg) translateX(-100%)
  display: flex
  justify-content: space-around
  white-space: nowrap
  flex-direction: row-reverse

.right-sidebar
  text-align: right
  display: flex
  flex-wrap: wrap-reverse
  flex-direction: column
  justify-content: space-around
  height: 100vh

  > :first-child
    flex-grow: 0.1

.sidebar-nav-item
  font-family: "Open Sans Regular"
  font-size: 1.4em
  margin: 0 0.5rem
  float: right

.ham-btn
  width: 40px
