@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,800,400')
@import './styles/overrides.css'
@import './styles/sidebars.css'
@import './styles/components/menu.css'
@import './styles/pages/AboutPage.css'
@import './styles/pages/Contacts.css'

::-webkit-scrollbar
  display: none

body
  background: #180026
  font-family: "Open Sans", X-LocaleSpecific, sans-serif

mark
  background: #FF0000
  color: #1C1C1C
  font-weight: 400

.screen1
  height: 100vh
